.divBienvenidaUsuario{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border: solid 1px #c99d0b;
    border-radius: 4px;
    background-color: #edd585;
    padding: 0px 20px 0px 20px;
    width: 400px;
    margin: 50px 50px;
    padding-top: 20px;
}


.tituloBienvenido{
    font-size: 25px;
}

.mailBienvenida{

    font-size: 20px
}


.botonProductos{

    background-color:rgb(198, 164, 136);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-weight: 600;
    width: 150px;
}


.botonCerrarSesion{
    background-color:rgb(255, 153, 79);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-weight: 600;
    width: 190px;

}
