
.divPaginaCheckOut{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.tituloCheckOut{

    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: underline;
    color: #c99d0b;

}

.divDetalleCompra{
    border: solid 1px #c99d0b;
    border-radius: 4px;
    background-color: #edd585;
    width: 100%;
}


.divDetalleCompra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.nroCompra{
    font-weight: 600;
    color: #c87106;
}

.divDatosDeCompra{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    width: 40%;
}

.divDatosDeCompraProductos{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    width: 40%;
    margin: 15px 0px 0px 0px;
}


.divDatosCliente{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    width: 40%;
    margin: 15px 0px 0px 0px;
}


.divDatosFechaHoraCompra{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    width: 40%;
    margin: 15px 0px 0px 0px;
}

.linkALandingProductos{

    width: 10vw;
    font-size: 14px;
    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    margin: 40px 0px 10px 0px;
    text-align: center;
   
}

.titulos{
    margin: 15px 0px 0px 0px;
    text-decoration: underline;
}


.fraseCompra{
font-size: 22px;
margin-top: 10px;
}


.divIdNro{
background-color: #d3c38c;
border: 1px solid;
border-radius: 3px;
padding: 5px 7px 5px 7px;
margin-top: 5px;
}

.fraseDatosCompra{
    text-decoration: underline;
    padding-top: 10px;
}

.divImagenProdCardCartPhone{
    width: 40%;
}


.imagenProdCardCartPhone{
    width: 30%;
}

.divImagenProdCardCartPhone{
    width: 40%;
}


.divBotonDescarga{
    width: 190px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(244, 212, 186);
    border: 1px solid;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;

}

.botonSeguirComprandoDetalle{
    width: 250px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    align-items: center;
    font-weight: 600;
}