.formulario{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border: solid 1px #c99d0b;
    border-radius: 2px;
    background-color: #edd585;
    padding: 0px 20px 0px 20px;

}

.divLabels{
    margin-top: 10px;
}

.divInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.labelValues{
    font-size: 18px;
    color: black;
    font-weight: 300;
  
}

.textoError{
    color: red;
}

.inputValues{
    border: solid 1px;
    border-radius: 2px;
    border-color: #c99d0b;
    text-align: center;
    margin: 10px 30px 10px 30px;
       
}


.botonSubmit{
    background-color:rgb(239, 225, 73);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    width: 200px;
    margin: 30px 0px 20px 0px;
}

.botonCancel{
    background-color:rgb(255, 153, 79);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    width: 200px;
    margin: 10px 0px 20px 0px;
}