.botonCrearUsuario{
    background-color:rgb(198, 164, 136);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
    font-weight: 600;
    width: 150px;
    text-align: center;
}


.divPaginaCheckOut{
    margin-top: 20px;
}