
.tituloProdFiltrado{

    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: underline;
    color: #c99d0b;

}

.divTituloProductoFiltradoBarra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonVolver{

    width: 30vw;
    font-size: 14px;

    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
   
}

.divBotonVolver{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}