.seccionCards{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloListadoProd{

    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: underline;
    color: #c99d0b;

}