
.ItemDet{
    margin: 30px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.divContenedorPhone{
    border: 1px solid #cfab35;
    border-radius: 5px;
    background-color: rgb(249, 247, 223);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.divContenedorDesktop{
    display: none;
}


.nombreVolverPhone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}



.nombreProdPhone{
    font-size: 5vw;
    font-style: italic;
}


.botonVolverPhone{

    width: 30vw;
    font-size: 14px;

    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
   
}

.divFotoDetailPhone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #cfab35;
    border-radius: 5px;
    width: 90%;
    
}

.ramoPhone{
    width: 100%;
    height: 100%
}

.detailProdPhone{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    padding-top: 10px;
}

.precioProdPhone{
    font-weight: 600;
    font-size: 20px;
}

.botonesDetallePhone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

.contadorStockPhone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botonUnidadesDisponiblesPhone{
    padding-left: 10px;

    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    margin: 10px 0px 10px 10px;
}

.numeroStock{
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
    padding: 6px 8px 6px 8px;
}


.divDescripProdPhone{

    width: 60%;
    margin-bottom: 15px;
  
}

.descripPhone{
    text-align: justify;
    
}


.detailProd{
    margin-top: 20px ;
    font-style: italic;

}

.botonAgregarCarritoPhone{
    background-color:rgb(170, 194, 119);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    width: 200px;
    margin: 10px 0px 10px 0px;
}


.botonFavoritoPhone{
    background-color:rgb(225, 192, 134);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    width: 200px;
    margin: 10px 0px 10px 0px;
}

.precioTotal{
    font-weight: 600;
    font-size: 20px;
}

.frasePrecioUnitario{
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 5px;
}

/* -------------------------------------------PHONE----------------------------------------- */


@media (min-width:620px) {

    .divContenedorPhone{
      
        display: none;
      
    }

    .divContenedorDesktop{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border: 1px solid #cfab35;
        padding: 20px 20px 20px 20px;
        border-radius: 5px;
        background-color: rgb(249, 247, 223)
    }

    .divFotoDesktop{

        border: solid 2px #cfab35;
        border-radius: 5px;
        height: 70%
       
        
    }
    .divCuerpoDerechoDesktop{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

.divCuerpoVolverDesktop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.divDetailProdDesktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}

.nombreProdDesktop{
 
    font-size: 30px;
    font-style: italic;
    margin-bottom: 50px;
}
.botonVolverDesktop{
    width: 120px;
    font-size: 14px;
    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
}



.divPrecioDektop{
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonesDetalleDesktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}


.botonAgregarCarritoDesktop{
    background-color:rgb(170, 194, 119);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    width: 200px;
    margin: 10px 0px 10px 0px;
    
}

.botonFavoritosDesktop{
    background-color:rgb(225, 192, 134);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    width: 200px;
    margin: 10px 0px 10px 0px;
}



.contadorStockDesktop{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.botonUnidadesDisponiblesDesktop{
    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    margin: 10px 0px 10px 10px;
  
  
    }
    

.divDescripDektop{
        text-align: justify;
        width: 80%;
    
      }


.precioTotal{
    font-weight: 600;
    font-size: 20px;
}

.precioDesktop{
    font-weight: 600;
    font-size: 20px;

}


}

/* 
@media (min-width:620px) {

    .divContenedorPhone{
      
        display: none;
      
    }
    

    
    .divContenedorDesktop{
   
    background-color: rgb(241, 234, 193);
    padding: 45px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #cfab35;
    border-radius: 5px;
    background-color: rgb(249, 247, 223);
    width:100%;
    height: 600px
  
}

    .divDetailProdDesktop{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        width:100%;

    }
  

.divFotoDetailDesktop{
    align-items: center;
    border: solid 2px #cfab35;
    border-radius: 5px;
    width: 850px;
    height: 500px;
    box-sizing: border-box;
    
    
  }

  .ramo{
    width:100%;
    height: 100%

  }


.divProdDesktop{
    padding-bottom: 35px;


}

.divprecioDektop{
    padding-bottom: 35px;


}
  .divDescripDektop{
    text-align: justify;
    width: 80%;

  }
  
  .tituloProdDesktop{
    font-style: italic;
  }

  .precioDesk{
    font-weight: 600;
  }

}

@media (min-width:850px) {

    .divContenedorDesktop{
   
        width:85%;
        height: 600px;
        padding-left: 40px;
      
    }

    .divDetailProdDesktop{
        width:99%;

    }
}


@media (min-width:1090px) {

    .botonesDetalle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    
    .botonAgregarCarrito{
        background-color: rgb(170, 194, 119);
        border: 1px solid;
        padding: 6px 6px 6px 6px;
        border-radius: 3px;
        margin: 0px 10px 0px 0px;
    }
    
    .botonVolver{
        background-color: rgb(199, 128, 70);
        border: 1px solid;
        padding: 6px 6px 6px 6px;
        border-radius: 3px;
        margin: 0px 0px 0px 10px;
    }
    
    .botonUnidadesDisponibles{
        background-color: rgb(109, 95, 84);
        border: 1px solid;
        padding: 6px 6px 6px 6px;
        border-radius: 3px;
        margin: 20px 0px 0px 0px;
    }
} */