* {
    box-sizing: border-box;
}


.ContenedorDeTarjetas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    
}

.container {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 1rem;
    grid-auto-flow: row;
  }

.boxTarjeta{

    border: solid 2px #cfab35;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: wheat;
 

}


.imagenProdCard{
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    overflow: hidden;
 
 
}


.imagenProd{
    width: 100%;;
    height: 100%;;
    object-fit: cover;
    border: 1px solid #b59118 ;
    
 
}




.nombreProd{
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5px;

}

.precioProd{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tamanioProd{
    margin-top: 8px;
}


.botonDetalle{
    background-color: rgb(198, 164, 136);
    border: 1px solid;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    margin: 10px 0px 15px 0px;
}

.ComponenteCOntenedorTarjetas{
    padding-top: 30px;
}