.mainContainer{
    background-color: #f1eac1;
    align-items: center;
    justify-content: center;
    padding: 100px 30px 30px 30px;  /* PARA QUE EL MAIN NO QUEDE TAPADO INICIALMENTE POR EL HEADER------- */

}


@media (min-width:525px) {

    .mainContainer{
  
        padding: 100px 30px 30px 30px;  /* PARA QUE EL MAIN NO QUEDE TAPADO INICIALMENTE POR EL HEADER------- */
    
    }
    
}


@media (min-width:600px) {

    .mainContainer{
    
        padding: 140px 30px 30px 30px;  /* PARA QUE EL MAIN NO QUEDE TAPADO INICIALMENTE POR EL HEADER------- */
    
    }
    
}

@media (min-width:700px) {

    .mainContainer{
    
        padding: 160px 30px 30px 30px;  /* PARA QUE EL MAIN NO QUEDE TAPADO INICIALMENTE POR EL HEADER------- */
    
    }
    
}


@media (min-width:1000px) {

    .mainContainer{
    
        padding: 160px 30px 30px 30px;  /* PARA QUE EL MAIN NO QUEDE TAPADO INICIALMENTE POR EL HEADER------- */
        display: flex;
        align-items: center;
    
    }
    
}