* {
    font-family: nunito;
  
}

* {
    box-sizing: border-box;
  
}

.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.NavInferior{

    display: none;
}


.NavHeader {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(249, 247, 223);
    border: solid 1px  #cfab35;
    padding: 10px 0px 10px 0px;
    align-items: center;

}

.burger-logo-Phone {

    display: flex;
    align-items: center;
    width: 160px;
    color:white;
    margin-left: 15px;
}


.burger-menu{
    
    color: white;
    margin-left: 10px;
    padding: 4px;
    border: #cfab35 solid 1.5px;
    border-radius: 3px;
    margin-top: 5px;
    
    
}

.botonBurger{
    background-color: #cfab35;
    border: none;
    color:white;
    width: 40px;
    height: 30px;

}

.logoEnjDeco{

    height: 60px;
    padding-right: 40px;
    padding-left: 40px;
   

}

.linksyCarritoPhone{
    display: flex;
    flex-direction: row;
    align-items: center;


}

.logosMargenDerechoPhone{
    display: flex;
    flex-direction: row;


}

.NavHeader a {
    color: #cfab35;
    text-decoration: none;
}

.barraBuscadora{
    display: none;
}

.linksPhone li {
    
    list-style: none;
}


.logo-wapp-desktop{

    padding-left: 15px;
}


.CartW{
    display: flex;
    flex-direction: row;

}

.CartW li{
    list-style: none;

}

.logoCart{
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.iconoCarrito{
    padding-right: 5px;
}

.numeroCart{
    padding-right: 15px;
    color: rgb(183, 180, 180);
    font-weight: 800;
}

@media (min-width:525px) {
    /* FIJACION DEL HEADER a DESKTOP-- */

.NavHeader{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.NavInferior{

    display: block;
    width: 100%;
    background-color: rgb(249, 247, 223);
    border: solid 1px  #cfab35;

}



.burger-menu{

    display: none;
}

.iconoBuscarMargenDerecho   {

    display: none;
}


.barraBuscadora{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    border: solid 1px white;
    align-items: center;
    justify-content: space-between;
    width: 40vw
    }


.textoBuscarEnBarra {
        color: black;
        font-size: 11px;
        padding-left: 8px;
        height: 20px;
        border-radius: 8px;
        width: 60%;
        border: solid 0px white;
        outline: none;
        font-weight: 800;
    
            /*para sacar el borde negro del input al darle un click */
    }
    

.botonSearch-Desktop{

    background-color: white;
    border: none;
    position: relative;
    right: 3px;
  
}


.botonSearch-Desktop i{
    color: #cfab35;
    font-weight: 600;
}


.leftBottomHeader{

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;

}


.leftBottomHeader li{

    list-style: none;

}

.leftBottomHeader a{

    color: #cfab35;
    text-decoration: none;
    font-weight: 800;

}
}
    