* {
    font-family: cursive;
  
}

* {
    box-sizing: border-box;
  
}

body{

    margin:0px
}



.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    top: 0;   /* PARA QUE SE AJUSTE AL TOPDE VIEWPORT-- */
    width:100vw;
    z-index: 999;  /* PARA QUE QUEDE ADELANTE DE TODOS LOS ELEMENTOS------- */
    
}

.NavInferior{

    display: none;
}


.NavHeader {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(249, 247, 223);
    border: solid 1px  #cfab35;
    padding: 10px 0px 10px 0px;
    align-items: center;

}

.burger-logo-Phone {

    display: flex;
    align-items: center;
    width: 160px;
    color:white;
    margin-left: 15px;
}


.burger-menu{
    
    color: white;
    margin-left: 10px;
    padding: 4px;
    border: #cfab35 solid 1.5px;
    border-radius: 3px;
    margin-top: 5px;
    
    
}

.botonBurger{
    background-color: #cfab35;
    border: none;
    color:white;
    width: 40px;
    height: 30px;

}

.logoEnjDeco{

    height: 60px;
    padding-right: 40px;
    padding-left: 25px;
   

}

.linksyCarritoPhone{
    display: flex;
    flex-direction: row;
    align-items: center;


}

.logosMargenDerechoPhone{
    display: flex;
    flex-direction: row;


}

.NavHeader a {
    color: #cfab35;
    text-decoration: none;
}

.barraBuscadora{
    display: none;
}

.linksPhone li {
    
    list-style: none;
}


.logo-wapp-desktop{

    padding-left: 15px;
}

.logo-favoritos{

    padding-left: 15px;
}


.logo-user{

    padding-left: 15px;
}

.CartW{
    display: flex;
    flex-direction: row;

}

.CartW li{
    list-style: none;

}

.logoCart{
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.iconoCarrito{
    padding-right: 5px;
}

.numeroCart{
    padding-right: 15px;
    color: rgb(183, 180, 180);
    font-weight: 800;
}


@media (max-width:395px) {
    /* FIJACION DEL HEADER a DESKTOP-- */
    .logo-wapp-desktop{

        display: none;
    }
    

}

@media (min-width:525px) {
    /* FIJACION DEL HEADER a DESKTOP-- */

.NavHeader{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


.NavInferior{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(249, 247, 223);
    border: solid 1px  #cfab35;
    height: 50px;
    align-items: center;

}



.burger-menu{

    display: none;
}

.logoEnjDeco{

    height: 60px;
    padding-right: 40px;
    padding-left: 20px;
   

}


.iconoBuscarMargenDerecho   {

    display: none;
}


.barraBuscadora{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    border: solid 1px white;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    height: 30px;
    }


.textoBuscarEnBarra {
        color: black;
        font-size: 13px;
        padding-left: 8px;
        height: 20px;
        border-radius: 8px;
        width: 60%;
        border: solid 0px white;
        outline: none;
        font-weight: 800;
    
            /*para sacar el borde negro del input al darle un click */
    }
    

.botonSearch-Desktop{

    background-color: white;
    border: none;
    position: relative;
    right: 3px;
  
}


.botonSearch-Desktop i{
    color: #cfab35;
    font-weight: 600;
}


.leftBottomHeader{

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    margin-left: 20px;
    padding: 0 40px 0 40px;

}


.leftBottomHeader li{

    list-style: none;


}

.Blog, .Sucursales, .Contacto{

    color: #cfab35;
    text-decoration: none;
    font-weight: 600;
    padding: 0 15px 0 15px;

}

.Productos{

    color: #cfab35;
    text-decoration: none;
    font-weight: 600;
    padding: 0 15px 0 8px;

}

.Ofertas{

font-weight: 1000;
color: rgb(176, 142, 142);
padding-left: 20px;

}

.rightBottomHeader{

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;

}

.rightBottomHeader li{

    list-style: none;

}


}
    