


.ContenedorDeTarjetas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    
}

.boxTarjeta{

    border: solid 3px #cfab35;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: wheat;
    box-sizing: border-box;

}


.imagenProdCard{
    padding-bottom: 5px;
 
 
}


.imagenProd{
   
    border: 2px solid #b59118 ;
    

 
 
}

.nombreProd{
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5px;

}

.precioProd{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tamanioProd{
    margin-top: 8px;
}